{% extends 'base.html' %}

{% load humanize %}

{% load static %}

{% block slider %}
<div>
  <div class="carousel-item active">
    <img src="{% static 'img/child3.jpg' %}" class="d-block w-100" alt="Los Angeles" height="300">
    <div class="carousel-caption">
      <h1>About Us</h1>
      <h5>home</h5>
    </div>   
  </div>
</div>
{% endblock %}

{% block content %}
<h1 style="text-align:center; background:#79b47c; color: white">The Young Pan Africanists Development Foundation</h1>
<div class="row my-4">
  <div class="col-md-6 my-4">
    <h4>Young Pan Africanists Development Foundation</h4>
    <blockquote>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      It has survived not only five centuries, but also the leap into electronic typesetting, 
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
      sheets containing Lorem Ipsum passages, and more recently with desktop 
      publishing software like Aldus PageMaker including versions of Lorem Ipsum
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
      sheets containing Lorem Ipsum passages, and more recently with desktop 
      publishing software like Aldus PageMaker including versions of Lorem Ipsum
      </br></br>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      It has survived not only five centuries, but also the leap into electronic typesetting, 
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
      sheets containing Lorem Ipsum passages, and more recently with desktop 
      publishing software like Aldus PageMaker including versions of Lorem Ipsum
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
      sheets containing Lorem Ipsum passages, and more recently with desktop 
      publishing software like Aldus PageMaker including versions of Lorem Ipsum
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
      sheets containing Lorem Ipsum passages, and more recently with desktop 
      publishing software like Aldus PageMaker including versions of Lorem Ipsum
    </blockquote>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'img/pc1.jpg' %}" alt="New York" width="600" height="600">
      </div>
    </div>
  </div>
</div>
{% endblock %}
